<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <context-param>
    <param-name>tollfreeno</param-name>
    <param-value>180012121434</param-value>
  </context-param>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <display-name>TalentFinder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error.html</location>
  </error-page>
  <servlet>
  <init-param>
  <param-name>email</param-name>
  <param-value>tom@support.com</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
  <servlet-name>HelloServlet</servlet-name>
  <servlet-class>com.bmpl.talentfinder.users.servlets.TestServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>HelloServlet</servlet-name>
  <url-pattern>/testexample</url-pattern>
  </servlet-mapping>
</web-app>